<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Security-Policy"
          content="default-src 'self'  https://www.google.com/;
                img-src * data:;
                connect-src 'self';
                style-src 'self' 'unsafe-inline' https://stackpath.bootstrapcdn.com https://fonts.googleapis.com/icon;
                script-src 'self' 'unsafe-inline' https://code.jquery.com https://stackpath.bootstrapcdn.com https://cdnjs.cloudflare.com https://use.fontawesome.com/releases/v6.3.0/js/all.js;
                font-src 'self' data: https://fonts.gstatic.com/s/materialicons/v140/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2;
                object-src 'none';
                base-uri 'self';
                upgrade-insecure-requests;"
    >
    <title>@ViewData["Title"] - mummiesIntex</title>
    <link href="~/css/styles.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/scripts.js"></script>
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">

    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" asp-controller="Home" asp-action="Index">Fag el Gamous</a>
        <!-- Sidebar Toggle-->
        <button id="sidebarToggle" class="btn btn-link btn-lg order-1 order-lg-0 me-4 me-lg-0"><i class="fas fa-bars"></i></button>
        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        </form>
        <!-- Navbar-->
        <ul class="right-element navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><svg class="svg-inline--fa fa-user fa-fw" focusable="false" data-prefix="fas" data-icon="user" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"></path></svg><!-- <i class="fas fa-user fa-fw"></i> Font Awesome fontawesome.com --></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    @* @if (User.Identity.IsAuthenticated && !User.IsInRole("Admin"))
            {
                bool isTwoFactorEnabled = await _userManager.GetTwoFactorEnabledAsync(await _userManager.GetUserAsync(User));
                if (isTwoFactorEnabled && !Context.Request.Path.StartsWithSegments("/Identity/Account/Manage/TwoFactorAuthentication"))
                {
                    <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/TwoFactorAuthentication">Two-factor Authentication</a></li>
                    <li><hr class="dropdown-divider"></li>
                }
            }*@
                    <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Login">Login</a></li>
                    <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Register">Register</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">Account</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Logout">Logout</a></li>
                </ul>
            </li>
        </ul>
    </nav>


    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <!--This group of tags is for the Home portion of the sidebar-->
                        <!-- <div class="sb-sidenav-menu-heading">Core</div> -->
                        <a class="nav-link" asp-controller="Home" asp-action="Index">
                            <div class="sb-nav-link-icon-sm"><i class="fas fa-tachometer-alt"></i>&nbsp;</div>
                                Home
                        </a>

                       <!--This group of tags is for the Burial Data Add and view portion of the sidebar-->
                        <!-- <div class="sb-sidenav-menu-heading">Burial Data</div> -->
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseBurial" aria-expanded="false" aria-controls="collapseBurial">
                            <div class="sb-nav-link-icon-sm"><i class="fas fa-columns"></i>&nbsp;</div>
                            Burial Data
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseBurial" aria-labelledby="headingBurial" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" asp-controller="Mummies" asp-action="Index">View the Burial Data</a>
                                <a class="nav-link" asp-controller="Mummies" asp-action="Create">Add a Burial Plot</a>
                            </nav>
                        </div>


                       <!--This group of tags is for the Analytics portion of the sidebar-->
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseAnalytics" aria-expanded="false" aria-controls="collapseAnalytics">
                            <div class="sb-nav-link-icon-sm"><i class="fas fa-columns"></i>&nbsp;</div>
                            Analytics
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseAnalytics" aria-labelledby="headingAnalytics" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" asp-controller="Home" asp-action="Supervised">Supervised Analytics</a>
                                <a class="nav-link" asp-controller="Home" asp-action="Unsupervised">Unsupervised Analytics</a>
                            </nav>
                        </div>

                        <!--This group of tags is for the Administration portion of the sidebar-->
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon-sm"><i class="fas fa-columns"></i>&nbsp;</div>
                            Administration
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" asp-controller="UserRoleManagement" asp-action="Index">User Accounts</a>
                                <a class="nav-link" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </nav>
                        </div>



                    </div>
                </div>
                <div class="sb-sidenav-footer p-2">
                    <div class="small">Logged in as:</div>
                 <br />
                   <a  class="btn btn-outline-secondary btn-md" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"> @User.Identity?.Name</a>
                    <br />
                    <br />
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
               <div class="d-flex justify-content-center align-items-center bg-body-tertiary">
                   <div class="col-lg-10 p-lg-3 text-left">
                        <!-- Cookies popup -->
                        <partial name="_CookieConsentPartial" />
         
                @RenderBody()

            </main>

            <br />
            <br />
            <br />
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Your Website 2023</div>
                        <div>
                            <a asp-controller="Home" asp-action="Privacy">Privacy Policy</a>
                            @*&middot;
                            <a href="#">Terms &amp; Conditions</a>*@
                        </div>
                    </div>
                </div>
            </footer>

        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>



