@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var prediction = ViewBag.Prediction as Prediction;
}

<body>
    <div class="row">
        <div class="col-md-4">
        <form method="post" asp-action="BurialForm">
            <div class="form-group">
            <label for="squarenorthsouth" class="control-label">Square NS Coordinates: </label>
                    <input class="form-control" type="number" id="squarenorthsouth" name="squarenorthsouth" value=""></input>
            </div>

            <div class="form-group">
            <label for="squareeastwest" class="control-label">Square EW Coordinates: </label>
                    <input class="form-control" id="squareeastwest" name="squareeastwest" value=""></input>
            </div>

                <label for="northsouth_N" class="control-label">N/S: </label>
            <select class="form-control" id="northsouth_N" name="northsouth_N">
                <option id="northsouth_N" name="northsouth_N" value="N">North SN</option>
            </select>


            <div class="form-group">
                <label for="Direction" class="control-label">Direction: </label>
            <select class="form-control" id="Direction" name="Direction">
                <option id="eastwest_E" name="eastwest_E" value="E">E</option>
                <option id="eastwest_W" name="eastwest_W" value="W">W</option>
            </select>
            </div>

            <div class="form-group">
            <label for="Age" class="control-label">Age: </label>
            <select class="form-control">
                <option id="adultsubadult_A" name="adultsubadult_A" value="A">Adult</option>
                <option id="adultsubadult_C" name="adultsubadult_C" value="C">Child</option>
                <option id="adultsubadult_U" name="adultsubadult_U" value="U">Unknown</option>
            </select>
            </div>


            <div class="form-group">
            <label for="AgeAtDeath" class="control-label">Age At Death: </label>
            <select class="form-control" id="AgeAtDeath" name="AgeAtDeath">
                <option id="ageatdeath_A" name="ageatdeath_A" value="A">Adult</option>
                <option id="ageatdeath_C" name="ageatdeath_C" value="C">Child</option>
                <option id="ageatdeath_I" name="ageatdeath_I" value="I">Infant: years 1-3</option>
                <option id="ageatdeath_N" name="ageatdeath_N" value="N">New Born: year 0-1</option>
                <option id="ageatdeath_U" name="ageatdeath_U" value="U">Unknown</option>
            </select>
            </div>

            <div class="form-group">
            <label for="inputData" class="control-label">Thickness: </label>
            <select class="form-control" id="Thickness" name="Thickness">
                <option id="thickness_C" name="thickness_C" value="C">Coarse</option>
                <option id="thickness_F" name="thickness_F" value="F">Fine</option>
                <option id="thickness_F_M" name="thickness_F_M" value="FM">Fine-Medium</option>
                <option id="thickness_M" name="thickness_M" value="M">Medium</option>
                <option id="thickness_VF" name="thickness_VF" value="VF">Very Fine</option>
                <option id="thickness_U" name="thickness_U" value="U">Unknown</option>

            </select>
            </div>

            <div class="form-group">
            <label for="inputData" class="control-label">Angle: </label>
            <select class="form-control" id="Angle" name="Angle">
                <option id="angle_H" name="angle_H" value="H">High</option>
                <option id="angle_M" name="angle_M" value="M">Medium</option>
                <option id="angle_M_H" name="angle_M_H" value="MH">Medium-High</option>
                <option id="angle_S" name="angle_S" value="S">Soft</option>
                <option id="angle_S_M" name="angle_S_M" value="SM">Soft-Medium</option>
                <option id="angle_U" name="angle_U" value="U">Unknown</option>
            </select>
            </div>

            <div class="form-group">
            <label for="inputData" class="control-label">Material Manipulation: </label>
            <select class="form-control" id="MaterialManip" name="MaterialManip">
                <option id="manipulation_Green_yarns" name="manipulation_Green_yarns" value="GY">Green Yarns</option>
                <option id="manipulation_Thread_single_stitch" name="manipulation_Thread_single_stitch" value="SS">Thread Single Stitch</option>
                <option id="manipulation_Warp" name="manipulation_Warp" value="WARP">Warp</option>
                <option id="manipulation_Weft" name="manipulation_Weft" value="WEFT">Weft</option>
                <option id="manipulation_Weft_pile_band" name="manipulation_Weft_pile_band" value="WPB">Weft Pile Band</option>
                <option id="manipulation_Weft_red" name="manipulation_Weft_red" value="WRed">Weft Red</option>
                <option id="manipulation_Weft_Ribs" name="manipulation_Weft_Ribs" value="WRibs">Weft Ribs</option>
                <option id="manipulation_Weft_decoration" name="manipulation_Weft_decoration" value="WDecor">Weft Decoration</option>
            </select>
            </div>

            <div class="form-group">
            <label for="inputData" class="control-label">Material: </label>
            <select class="form-control" id="Material" name="Material">
                <option id="material_Linen" name="material_Linen" value="L">Linen</option>
                <option id="material_Wool" name="material_Wool" value="W">Wool</option>
                <option id="material_Other" name="material_Other" value="O">Other</option>
                <option id="material_U" name="material_U" value="U">Unknown</option>
            </select>
            </div>

            <div class="form-group">
            <label for="inputData" class="control-label">Ply: </label>
            <select class="form-control" id="Ply" name="Ply">
                <option id="ply_S" name="ply_S" value="S">Single</option>
                <option id="ply_D" name="ply_D" value="D">Double</option>
                <option id="ply_U" name="ply_U" value="U">Unknown</option>
            </select>
            </div>

            <div class="form-group">
            <label for="inputData" class="control-label">Yarn Manipulation: </label>
            <select class="form-control" id="YarnManip" name="YarnManip">
                <option id="yarnmanipulation_direction_S" name="yarnmanipulation_direction_S" value="S">S Twist</option>
                <option id="yarnmanipulation_direction_Z" name="yarnmanipulation_direction_Z" value="Z">Z Twist</option>
                <option id="yarnmanipulation_direction_Z_S" name="yarnmanipulation_direction_Z_S" value="ZS">Z & S Twist</option>
                <option id="yarnmanipulation_direction_U" name="yarnmanipulation_direction_U" value="U">Unknown</option>
            </select>
            </div>
            <br />

                <button class="btn btn-outline-primary btn-md" id="custom-button">Submit</button>
            <br />
            <br />

            @if (prediction != null)
            {
                <h3 >Prediction is: @prediction.PredictedValue</h3>
            }
            else
            {
                <p></p>
            }
        </form>
        </div>

    </div>
</body>
