@{
    ViewData["Title"] = "Home Page";
}


<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="position-relative overflow-hidden text-center bg-body-tertiary">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 fw-normal">Fag el-Gamous</h1>
        <p class="lead fw-normal">"The Way of the Water Buffalo"</p>
      @*  <a class="btn btn-outline-secondary btn-lg" href="#">Log In</a>*@
        <br />
        @*<a class="btn-link btn-sm" href="#">Sign Up</a>*@
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>
<div class="row cards justify-content-center">
    <div class="card col-3">
        <iframe class="card__image" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5035.326502273839!2d31.051669808472656!3d29.38160184460197!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14599b9af8225119%3A0x4c75b8113ad35d8f!2sSeila%20Pyramid!5e0!3m2!1sen!2sus!4v1681176959128!5m2!1sen!2sus" height="205" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <div class="card__content">
            <br />
            <p>
                Near the Fag el-Gamous cemetery, lies the Seila Pyramid where the other part of the excavation project takes place. The Seila Pyramid has evidence for ritual activity on both the north and the eastern sides.
            </p>
            <p>
                Expand the map to check out whereabout these incredible findings come from.
            </p>
        </div>
        <!-- <div class="card__info">
            <br />
            <div>
                <a href="https: //egypt.byu.edu/p/About" class="card__link">View Article</a>
            </div>
        </div> -->
    </div>


    <div class="card col-3">
        <img class="card__image" src="~/lib/img/IMG_1254.JPG" />
        <div class="card__content">
            <br />

            <p>
                This database is designed to make the work of the BYU Egypt Excavation Project available to the world. It represents the data gained from decades of excavation combined with digital analytical power that should make any number of studies possible.
            </p>
            <p>

            </p>
        </div>
        <!-- <div class="card__info">
          <br />
            <div>
                <a href="./" class="card__link">View Article</a>
            </div>
        </div> -->
    </div>

    <div class="card col-3">
        <img class="card__image" src="~/lib/img/kerry-muhlestein-fag-el-gamous-dig.jpeg" alt="Kerry Muhlestein Profile" />
        <div class="card__content">
            <br />
            <p>
                This site will support reseachers like Kerry Muhlestein, who leads BYU researchers, in creating and updating records in the field, allowing for an enhanced experience for all involved at Fag el-Gamous.
            </p>
        </div>
        <!-- <div class="card__info">
            <div>
                <i class="material-icons">thumb_up</i>140
            </div>
            <div>
                <a href="./" class="card__link">View Article</a>
            </div>

        </div> -->
    </div>
</div>