@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Unsupervised Analysis</h1>
<br />
<br />

<h2>What Information We Collect</h2>
<h4>When you use our Site, we may collect the following types of personal information:</h4>
<img class="card__image" src="~/lib/img/ratatouille.png" alt="3D Model" />
<p>
    Information that you provide to us directly, such as your name and email address when you sign up for our newsletter or contact us
    through our contact form.
    Information that is automatically collected when you use our Site, such as your IP address, the type of device you are using to access the Site,
    and your browsing behavior.
</p>
<br />

<h2>How We Use Your Information</h2>
<h4>We may use your personal information for the following purposes:</h4>
<img class="card__image" src="~/lib/img/scatterplot.png" alt="Scatter Plot" />
<p>
    To respond to your inquiries or requests. To send you marketing communications if you have opted-in to receive them.
    To analyze how our Site is being used and to improve its content and functionality. To comply with our legal obligations.
</p>
<br />